body{
    margin: 0;
    padding: 0;
	background-color: var(--gold);
    font-size:15px;
}

.panel{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    
    background-color: gray;
    opacity: 0.75;
    font-size: 20px;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 25px;
    
}

.left-panel-admin{
    width:35%;
    float: left;
    padding-left: 20px;
    text-align: center;
    
}

.left-panel, .left-panel-admin, .center, .side-panel{
    border-style: solid;
    border-radius: 5px;
	border-width:5px;
	
	border-color:#0d19a3;
    
    margin-top: 20px;
    margin-right: 5px;
    margin-left: 5px;
    height: 80vh;
}

.left-panel{
    width:60%;
    float: left;
    padding-left: 20px;
    text-align: center;
    
}

.center{
    width: 30%;
    float: left;
    padding-left: 20px;
    text-align: center;
    overflow: auto;
}

.side-panel{
    float: left;
    width: 25%;
    text-align: center;
}

.admin-panel{
    display: flex;
}

.break-div, .search{
    float: left;
    height: 8vh;
    margin-top: 10px;
    padding: 2px; 
}

.search{
    width: 80%;
    padding-left: 10px;
}

.search-form{
    width: 35%;
    float: left;
}

#fn{
    width: 140px;
}

.search-res-div{
    display: flex;
    align-items: center;
}

.search-res{
    margin-right: 10px;
    font-size: 17px;
}

.break-div{
    margin-left: 20px;
    font-size: 17px;
}

#break-btn{
    margin-left: 5px;
}

.invite-div{
    margin-left: 10px;
    font-size: 17px;
}

.turn-or-break-message{
	margin: 10px;
	padding: 5px;
	
	border-style:solid;
	
	font-size:30px;
	text-align: center;
	
	border-color: #080F5B;
	background-color: #15DB95;
	color:#080F5B;
}
.field {
    margin-top:10px;
    margin-bottom: 2%;
    padding: 5px;
    
    font-size:15px;

    border-style: solid;
    border-width: 3px;
	border-radius : 20px;
	border-color: #15db95;
	
	background-color:#f4e4c1;
	color: #080f5b;
}


.title{
    text-align: center;
}

.next, .time{
    width: 40%;
    height: 100%;
    text-align: center;
    float: left;
    
    border-style: solid;
    border-width: 5px;
	border-radius : 20px;
	border-color: var(--dark-blue);
    
    background-color: var(--gold);
    color: var(--dark-blue);
    font-weight: bold;
    font-size: 17px;
}

.next_admin{
    width: 55%;
}

.time{
    width: 20%;
    float: left;
    margin-left: 10px;
    font-size: 15px;
}

#add_me, #remove_me{
	padding: 5px;
	font-size:15px;
	box-shadow: 3px 3px 5px black;
	margin-left:20%;
	margin-top:5%;
}

#remove_me{
	margin-right:5%;
}

.header{
    height: 15%;
}

.btn_next{
    width: 30%;
    height: 7vh;
    border-radius: 15px;
    border: 4px solid var(--dark-blue);
    text-align: center;
	font-size:15px;
    	
	color: var(--green);
	background-color: var(--blue);
}

.btn_next:hover{
    background-color: var(--dark-blue);
}

.queue{
    margin-top: 10px;
    width: 100%;
    height: 70%;
    text-align: center;
    padding-right: 10px;
    overflow-x: hidden;
    overflow: hidden;
}

.queue_controls{
    margin-left: 10px;
}

.inv_btn{
    width: 50%;
    word-wrap: break-word;
    white-space: normal;
    height: 50px;
    margin-top: 10px;
    margin-left: 20px;
}

.list{
    list-style: none;
    width: 60%;
    height: 90%;
    padding: 0;
    overflow-y: auto;
}

.list li{
    border: 3px solid var(--dark-blue);
    border-radius: 15px;
    height: 25px;
    margin-left: 0;
    margin-right: 10px;
    text-align: center;
    margin-top: 5px;
    padding-top: 7px;
    background-color: var(--beige);
    color: var(--dark-blue);
}

.chat{
    width: 100%;
    height: 80%;
}

.messages{
    height: 90%;
	overflow-y: auto;
	overflow-x:hidden;
	display: flex;
    flex-direction: column-reverse;
}

.msg_from, .msg_to{
    border: 3px solid var(--green);
    border-radius: 15px;

	margin:10px;
	padding: 10px;
	width:70%;
	height: auto;
}

.msg_from{
	float:right;
}

.msg_to{
	float:left;
}

.author{
	float:left;
    font-size: 15px;
	text-align: justify;
    font-style: italic;
}

.msg-text{
	display: block;
	float:left;
    width: 100%;
	font-size: 15px;
    font-style: italic;
}

.msg_div{
    width: 100%;
}

.msg_time{
    font-size: 15px;
	float:right;
    font-style: italic;
}


.msg-btn{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    margin-top: 70%;
    margin-left: 70%;
    font-size: 25px;
    font-weight: bold;
}

.msg-btn a{
    text-decoration: none;
}


.add-msg{
    
}

.add-msg textarea{
    width: 95%;
    margin-left: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
    padding: 1px;
}

.msg-submit-btn{
    margin-left: 10px;
    border-radius: 10px;
    
}

.send_button{
    margin-top: 5px;
    margin-left: 5px;
}

.title{
    text-align: center;
    align-content: center;
    width: 100%;
}

#mins{
    width: 70px;
}

.descr{
    margin-left: 10px;
}

table{
    width: 100%;
}

td{
    text-align: left;
}



