body{
    margin: 10;
    padding: 10;
}

header{
    border-bottom-style: solid;
    border-bottom-width: 3px;
}
.rooms_list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);

}

.room{
    border-style: solid;
    border-radius: 25px;
    padding: 10px;
    margin: 10px;
}

#create_room_btn{
    font-size: 20px;
    border-radius: 10px;
    padding: 5px;
    border: 2px solid;

    position: fixed;
    right:10px;
    bottom:10px;
}

.join_button{
    font-size: 15px;
    border-radius: 10px;
    padding: 5px;
    border: 2px solid;
    float:right;
}

