body{
    margin:0px;
	background-color: #f4e4c1;
}

header{
	position:sticky;
	top:0;
    overflow:auto;
	padding:10px;

	background-color:#080f5b;
	color:#e4c580;
	font-size:20px;
	
	z-index:10;
}

header p{
	float:left;
}

.rooms_list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);

}

.room{
	position:relative;
	
	margin:10px;
	padding:5px;
	
    border-style: solid;
    border-radius: 5px;
	border-width:5px;
	
	border-color:#0d19a3;
	background-color:#f4e4c1;	
}

.room_name{
	margin-left: auto;
	margin-right: auto;
	width: 95%;
	
	text-align:center;
	font-size:20px;
	font-family: Arial, Helvetica, sans-serif;

	border-style: solid;
    border-radius: 5px;
	border-width:5px;
	
	color: #080f5b;
	border-color:#15db95;
}

.room_description{
	font-size:15px;
	
	margin-left:20px;
	
	color: #080f5b;
}

.join_button{

	position:absolute;
    bottom:10px;
    right:10px;

    text-align: center;
	font-size:15px;
	
	border-style: solid;
    border-width: 3px;
	border-radius : 5px;
	
	color: #15db95;
	border-color:#0d19a3;
	background-color:#0d19a3;	
}

.join_button:hover{
	border-color:#080f5b;
	background-color:#080f5b;
}

a:link, a:visited{
	text-decoration: none;
	color: #15db95;
}

.header_button{
    float:right;
	
	margin:5px;
	margin-top:15px;
    padding: 5px;
    
    font-size:15px;
	text-align: center;

	border-style: solid;
    border-width: 3px;
	border-radius : 5px;

	color: #15db95;
	border-color:#f4e4c1;
	background-color:#080f5b;

}

.header_button:hover{
	border-color:#15db95;
}

